@font-face {
  font-family: 'Phonk Sans Light';
  src: url('../../fonts/PhonkSans-Light.otf') format('opentype');
  font-weight: 300; /* Вес шрифта, если известен */
  font-style: normal; /* Нормальный стиль */
}
//  font-family: 'Phonk Sans Light', sans-serif;

@font-face {
  font-family: 'Fixel Display';
  src:
    url('../../fonts/FixelDisplay-Regular.woff2') format('woff2'),
    url('../../fonts/FixelDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
//  font-family: 'Fixel Display', sans-serif;
